<div class="page-header">
    <div class="btn-toolbar pull-right">
    </div>
    <h1>Orders</h1>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Broker</th>
            <th>Reference ID</th>
            <th># Items</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of entities" class="clickable" (click)="showEntity(order.uuid)">
            <td><span *ngIf="order.customer">{{order.customer.printableName()}}</span></td>
            <td><span *ngIf="order.broker">{{order.broker.name}}</span></td>
            <td>{{order.referenceId}}</td>
            <td>{{order.itemIds.length}}</td>
            <td>{{order.createDate.format('YYYY-MM-DD HH:mm')}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>