<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/admin/users" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
    </div>
    <h1 *ngIf="!uuid">Send Email to all users</h1>
    <h1 *ngIf="uuid">Send Email to user</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Mail successfully sent.</div>
    <div class="form-group" *ngIf="uuid && user">
        <label>Recipient</label>
        <p class="form-control-static">{{user.printableName()}}<br />{{user.email}}</p>
    </div>
    <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" name="subject" placeholder="Mail Subject" class="form-control" [(ngModel)]="model.subject" required="required" autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label for="body">Body</label>
        <textarea id="body" name="body" placeholder="Mail Body" [(ngModel)]="model.body" required="required" class="form-control" rows="15"></textarea>
    </div>
    <div class="form-group">
        <label for="startIdx">Start Index (zero-based)</label>
        <input type="number" id="startIdx" name="startIdx" [(ngModel)]="model.startIdx" class="form-control" min="0" max="999999999" />
    </div>
    <div class="form-group">
        <label for="limit">Limit (max number of emails to send)</label>
        <input type="number" id="limit" name="limit" [(ngModel)]="model.limit" class="form-control" min="0" max="999999999" />
    </div>
    <a routerLink="/admin/users" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Send mail</button>
</form>