<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/admin/supportrequests/new" class="btn btn-primary btn-lg" title="Add new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <h1>Support Requests</h1>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Product</th>
            <th>Variant</th>
            <th>Purchased</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of entities" class="clickable" (click)="showEntity(ticket.uuid)">
            <td><span *ngIf="ticket.customer">{{ticket.customer.printableName()}}</span></td>
            <td><span *ngIf="ticket.productVariant && ticket.productVariant.product">{{ticket.productVariant.product.title}}</span></td>
            <td><span *ngIf="ticket.productVariant">{{ticket.productVariant.title}}</span></td>
            <td>{{ticket.createDate.format('YYYY-MM-DD')}}</td>
            <td>{{getStatus(ticket)}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>