<div class="page-header">
    <div class="btn-toolbar pull-right">
    </div>
    <h1>System Settings</h1>
</div>
<div [hidden]="!entities || !entities.length">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Setting</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let setting of entities" class="clickable" (click)="showEntity(setting.uuid)">
                <td>{{setting.description}}</td>
                <td>{{setting.value | slice:0:50}}</td>
            </tr>
        </tbody>
    </table>
    <div class="entity-list-toolbar">
        <button class="btn btn-primary btn-lg" (click)="fetchMore()" [disabled]="fetching" *ngIf="enableFetchMore">
            <span *ngIf="!fetching">Load more results</span>
            <span *ngIf="fetching">Fetching...</span>
        </button>
    </div>
</div>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>