<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/admin/systemsettings" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
    </div>
    <h1>Edit System Setting</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Setting saved successfully.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error saving setting. Please try again.</div>
    <div class="form-group">
        <label>Setting</label>
        <p class="form-control-static">{{entity.description}}</p>
    </div>
    <div class="form-group" *ngIf="entity.type != 4">
        <label for="subject">Value</label>
        <input type="text" id="value" name="value" placeholder="Value" class="form-control" [(ngModel)]="entity.value" autofocus="autofocus" *ngIf="entity.type == 1" />
        <input type="number" id="value" name="value" placeholder="Value" class="form-control" [(ngModel)]="entity.value" autofocus="autofocus" *ngIf="entity.type == 2" />
        <textarea rows="10" id="value" name="value" placeholder="Value" class="form-control" [(ngModel)]="entity.value" autofocus="autofocus" *ngIf="entity.type == 3"></textarea>
    </div>
    <div class="checkbox" *ngIf="entity.type == 4">
        <label>
            <input type="checkbox" id="value" name="value" [ngModel]="(entity.value == '1' || entity.value == 'true') ? true : false" (ngModelChange)="entity.value = $event ? 1 : 0" /> {{entity.description}}
        </label>
    </div>
    <a routerLink="/admin/systemsettings" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Save</button>
</form>