<div class="page-header">
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-danger btn-lg" (click)="delete()" [hidden]="!entity.uuid" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
        <a routerLink="/admin/users" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
        <a routerLink="/admin/users/new" class="btn btn-primary btn-lg" [hidden]="!entity.uuid" title="Add new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <h1 [hidden]="entity.uuid">Add User</h1>
    <h1 [hidden]="!entity.uuid">Edit User</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">User saved successfully.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error saving user. Please try again.</div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Email" class="form-control" [(ngModel)]="entity.email" required="required" autofocus="autofocus" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="roleAdmin" name="roleAdmin" [(ngModel)]="entity.roleAdmin" /> Role "Admin"
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="roleCustomer" name="roleCustomer" [(ngModel)]="entity.roleCustomer" /> Role "Customer"
        </label>
    </div>
    <a routerLink="/admin/users" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Save</button>
</form>