<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/brokers/new" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <h1>Brokers</h1>
</div>
<table class="table table-hover" [hidden]="!brokers || !brokers.length">
    <thead>
        <tr>
            <th>UUID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let broker of brokers" class="clickable" (click)="showBroker(broker.uuid)">
            <td>{{broker.uuid}}</td>
            <td>{{broker.name}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!brokers || brokers.length">
    No records found.
</p>