<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        </div>
    </div>
    <h1>Reset Your Password</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Your password has been changed successfully. <a routerLink="/login">Proceed to login</a>.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error changing your password. Is your link valid?</div>
    <div class="form-group">
        <label for="password">New password</label>
        <input type="password" id="password" name="password" placeholder="New password" class="form-control" [(ngModel)]="model.password" required="required" autofocus="autofocus" />
    </div>
    <a routerLink="/login" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting">Submit</button>
</form>