<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        </div>
    </div>
    <h1>Confirm your order</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div *ngIf="loading">
        <p *ngIf="!error">Loading...</p>
        <div class="alert alert-danger" role="alert" *ngIf="error">The requested link is not valid anymore. Have you already confirmed this purchase? <a routerLink="/login">Proceed to login</a>.</div>
    </div>
    <div *ngIf="!loading">
        <div class="alert alert-success" role="alert" [hidden]="!success">Your account has been created and your initial password was sent to you via email. <a routerLink="/login">Proceed to login</a>.</div>
        <p>
            Thank you for your order at {{pendingOrder.broker.name}}!
        </p>
        <p>
            To process your order and to set up a customer account for you, we need your confirmation.
        </p>
        <p>
            With your customer account, you can generate and manage your license keys, receive expiry reminders,
            open support requests, and take full advantage of the services we provide with our products.
            We'll handle your data with care and according to our <a [attr.href]="settings.sitePrivacyPolicyUrl" target="_blank">privacy policy</a>.
        </p>
        <p>
            We have received the following details from {{pendingOrder.broker.name}}:
        </p>
        <div class="form-group" *ngIf="pendingOrder.customer.firstname || pendingOrder.customer.lastname">
            <label>Name</label>
            <p class="form-control-static">{{pendingOrder.customer.firstname}} {{pendingOrder.customer.lastname}}</p>
        </div>
        <div class="form-group" *ngIf="pendingOrder.customer.company">
            <label>Company</label>
            <p class="form-control-static">{{pendingOrder.customer.company}}</p>
        </div>
        <div class="form-group" *ngIf="pendingOrder.customer.email">
            <label>Email Address</label>
            <p class="form-control-static">{{pendingOrder.customer.email}}</p>
        </div>
        <div class="form-group" *ngIf="pendingOrder.customer.country">
            <label>Country</label>
            <p class="form-control-static">{{pendingOrder.customer.country}}</p>
        </div>
        <button type="submit" class="btn btn-default btn-primary" [disabled]="!form.valid || submitting">Create account &amp; process order</button>
        <p style="margin-top:50px">
            If you don't want us to set up a customer account for you, please <a [attr.href]="settings.siteContactUrl" target="_blank">contact us</a>.
        </p>
    </div>
</form>