<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        </div>
    </div>
    <h1>Hello {{session.user.firstname}}!</h1>
</div>
<div class="row" *ngIf="session.user.roleCustomer">
    <div class="col-md-4">
        <div class="well">
            <h3><span class="glyphicon glyphicon-user"></span> Your Profile</h3>
            <p>Keep your details up to date, so that we can contact you regarding your license keys and support cases.</p>
            <p>{{session.user.firstname}} {{session.user.lastname}}</p>
            <p *ngIf="session.user.company">{{session.user.company}}</p>
            <p>{{session.user.email}}</p>
            <p><a routerLink="/profile" class="btn btn-default">Update profile</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3><span class="glyphicon glyphicon-question-fire"></span> Support Cases</h3>
            <p *ngIf="!supportTicketStats">Loading...</p>
            <p *ngIf="supportTicketStats">You have {{supportTicketStats.numOpenTickets}} open support cases.</p>
            <p *ngIf="supportTicketStats">{{supportTicketStats.numTicketsWithUnrespondedComments}} of these have new comments from the support team – you might want to respond or close the tickets.</p>
            <p><a routerLink="/customer/tickets" class="btn btn-default">Show tickets</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3><span class="glyphicon glyphicon-barcode"></span> License Keys</h3>
            <p *ngIf="!licenseKeyStats">Loading...</p>
            <p *ngIf="licenseKeyStats">You have {{licenseKeyStats.numKeys}} license keys of which {{licenseKeyStats.numNotIssued}} have not beed issued yet.</p>
            <p *ngIf="licenseKeyStats">{{licenseKeyStats.numExpired}} of these have expired and {{licenseKeyStats.numNearlyExpired}} are about to expire soon – you might want to renew them.</p>
            <p><a routerLink="/customer/licensekeys" class="btn btn-default">Show tickets</a></p>
        </div>
    </div>
</div>
<div class="row" *ngIf="session.user.roleAdmin">
    <div class="col-md-4">
        <div class="well">
            <h3><span class="glyphicon glyphicon-fire"></span> Support Requests</h3>
            <p *ngIf="!supportRequestsStats">Loading...</p>
            <p *ngIf="supportRequestsStats">You have {{supportRequestsStats.numOpenTickets}} open support cases.</p>
            <p *ngIf="supportRequestsStats">{{supportRequestsStats.numTicketsWithUnrespondedComments}} of these have new comments from customers – you might want to respond to these tickets.</p>
            <p><a routerLink="/admin/supportrequests" class="btn btn-default">Show tickets</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <h3><span class="glyphicon glyphicon-shopping-cart"></span> Latest orders</h3>
            <p *ngIf="!latestOrders">Loading...</p>
            <p *ngIf="latestOrders && latestOrders.length == 0">No orders yet.</p>
            <p *ngFor="let order of latestOrders">
                <a routerLink="/admin/users/edit/{{order.customer.uuid}}">{{order.customer.printableName()}}</a> purchased <a routerLink="/admin/orders/view/{{order.uuid}}">{{order.itemIds.length}} items</a> at {{order.createDate.format('YYYY-MM-DD HH:mm')}}
            </p>
            <p><a routerLink="/admin/orders" class="btn btn-default">Show orders</a></p>
        </div>
    </div>
    <div class="col-md-4" *ngIf="!session.user.roleCustomer">
        <div class="well">
            <h3><span class="glyphicon glyphicon-user"></span> Your Profile</h3>
            <p>Keep your details up to date.</p>
            <p>{{session.user.firstname}} {{session.user.lastname}}</p>
            <p *ngIf="session.user.company">{{session.user.company}}</p>
            <p>{{session.user.email}}</p>
            <p><a routerLink="/profile" class="btn btn-default">Update profile</a></p>
        </div>
    </div>
</div>