<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/mailtemplates/new" class="btn btn-primary btn-lg" title="Add new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <h1>Mail Templates</h1>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Type</th>
            <th>Subject</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let mailTemplate of entities" class="clickable" (click)="showEntity(mailTemplate.uuid)">
            <td>{{mailTemplate.getPrintableType()}}</td>
            <td>{{mailTemplate.subject}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>