<div class="page-header">
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-danger btn-lg" (click)="delete()" [hidden]="!entity.uuid" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
        <a routerLink="/products/edit/{{product.uuid}}" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
        <a routerLink="/products/edit/{{product.uuid}}/variants/new" class="btn btn-primary btn-lg" [hidden]="!entity.uuid" title="Add new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <h1 [hidden]="entity.uuid">Add Product Variant</h1>
    <h1 [hidden]="!entity.uuid">Edit Product Variant</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Product variant saved successfully.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error saving product variant. Please try again.</div>
    <div class="form-group">
        <label>Product</label>
        <p class="form-control-static">{{product.title}}</p>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" name="title" placeholder="Title" class="form-control" [(ngModel)]="entity.title" required="required" autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" required="required" name="type" id="type" [(ngModel)]="entity.type">
            <option value="1">Trial</option>
            <option value="2">Limited</option>
            <option value="3">Lifetime</option>
            <option value="4">Evaluation</option>
            <option value="5">Support Ticket</option>
        </select>
    </div>
    <div class="form-group">
        <label for="numDomains">Number of included domains</label>
        <input type="number" id="numDomains" name="numDomains" placeholder="Number of domains" class="form-control" [(ngModel)]="entity.numDomains" min="0" max="99999" step="1" required="required" />
    </div>
    <div class="form-group">
        <label for="numSupportYears">Number of included domains</label>
        <input type="number" id="numSupportYears" name="numSupportYears" placeholder="Number of support years" class="form-control" [(ngModel)]="entity.numSupportYears" min="0" max="99999" step="1" required="required" />
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" name="price" placeholder="Price" class="form-control" [(ngModel)]="entity.price" min="0" max="99999" step="0.01" required="required" />
    </div>
    <a routerLink="/products/edit/{{product.uuid}}" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Save</button>
</form>