<div class="page-header">
    <div class="btn-toolbar pull-right">
        <button type="button" class="btn btn-danger btn-lg" (click)="delete()" [hidden]="!entity.uuid" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
        <a routerLink="/products" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
        <a routerLink="/products/new" class="btn btn-primary btn-lg" [hidden]="!entity.uuid" title="Add new"><span class="glyphicon glyphicon-plus"></span></a>
    </div>
    <h1 [hidden]="entity.uuid">Add Product</h1>
    <h1 [hidden]="!entity.uuid">Edit Product</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Product saved successfully.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error saving product. Please try again.</div>
    <div class="form-group">
        <label for="title">Product Title</label>
        <input type="text" id="title" name="title" placeholder="Product Title" class="form-control" [(ngModel)]="entity.title" required="required" autofocus="autofocus" />
    </div>
    <div class="form-group">
        <label for="licenseKeyIdentifier">Identifier in License Key</label>
        <input type="text" id="licenseKeyIdentifier" name="licenseKeyIdentifier" placeholder="License Key Identifier" class="form-control" [(ngModel)]="entity.licenseKeyIdentifier" required="required" />
    </div>
    <a routerLink="/products" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Save</button>
</form>
<div style="margin-top:50px" [hidden]="!entity.uuid">
    <h3>Product Variants</h3>
    <table class="table" style="margin-bottom:25px" [hidden]="!variants.length || !brokers.length">
        <thead>
            <tr>
                <th>Variant</th>
                <th *ngFor="let broker of brokers">{{broker.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let variant of variants">
                <td><a routerLink="/products/edit/{{entity.uuid}}/variants/edit/{{variant.uuid}}">{{variant.title}}</a></td>
                <td *ngFor="let broker of brokers">
                    <p *ngIf="!isEditModeActive(broker.uuid, variant.uuid)" title="Click to edit" (click)="enableEditMode(broker.uuid, variant.uuid, $event)">{{getIdForBroker(broker.uuid, variant.uuid) ? getIdForBroker(broker.uuid, variant.uuid) : "n/a"}}</p>
                    <input *ngIf="isEditModeActive(broker.uuid, variant.uuid)" type="text" class="form-control" style="width:150px" placeholder="Broker's Product ID" value="{{getIdForBroker(broker.uuid, variant.uuid)}}" (keyup.enter)="saveIdForBroker(broker.uuid, variant.uuid, $event)" (keyup.esc)="enableEditMode('', '')" id="edit-{{broker.uuid}}-{{variant.uuid}}" />
                </td>
            </tr>
        </tbody>
    </table>
    <p [hidden]="variants.length && brokers.length" style="margin-bottom:25px">
        To manage the variants of {{entity.title}}, please create at least <a routerLink="/brokers/new">one broker</a> and at least <a routerLink="/products/edit/{{entity.uuid}}/variants/new">one variant</a> of this product.
    </p>
    <a routerLink="/products/edit/{{entity.uuid}}/variants/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add a variant</a>
</div>