<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        </div>
    </div>
    <h1>Purchase Assistant</h1>
</div>
<p>Thanks for your interest in our products.</p>
<div class="panel" style="margin-top:25px">
    <p>
        What product are you looking for?
        <button type="button" class="btn btn-default btn-lg btn-block" *ngFor="let product of products" (click)="selectProduct(product)" [class.btn-primary]="selectedProduct && selectedProduct.uuid === product.uuid">{{product.title}}</button>
    </p>
</div>
<div class="panel" *ngIf="selectedProduct" style="margin-top:25px">
    <p>
        What do you need?
        <button type="button" class="btn btn-default btn-lg btn-block" (click)="selectType([1])" [class.btn-primary]="selectedTypes && selectedTypes.indexOf(1) > -1">Trial Key</button>
        <button type="button" class="btn btn-default btn-lg btn-block" (click)="selectType([2,3])" [class.btn-primary]="selectedTypes && selectedTypes.indexOf(2) > -1">License Key</button>
        <button type="button" class="btn btn-default btn-lg btn-block" (click)="selectType([5])" [class.btn-primary]="selectedTypes && selectedTypes.indexOf(5) > -1">Support</button>
    </p>
</div>
<div class="panel" *ngIf="selectedTypes" style="margin-top:25px">
    <p *ngIf="!matchingVariants().length">Sorry, we have no variant for this on offer.</p>
    <p *ngIf="matchingVariants().length">
        Which variant matches your requirements best?
        <button type="button" class="btn btn-default btn-lg btn-block" *ngFor="let variant of matchingVariants()" (click)="selectVariant(variant)" [class.btn-primary]="selectedVariant && selectedVariant.uuid === variant.uuid">{{variant.title}}</button>
    </p>
</div>
<div class="panel" *ngIf="selectedVariant" style="margin-top:25px">
    <p *ngIf="!matchingBrokers().length">Sorry, we have no broker for this on offer.</p>
    <p *ngIf="matchingBrokers().length">
        Select your preferred broker.
        <button type="button" class="btn btn-default btn-lg btn-block" *ngFor="let broker of matchingBrokers()" (click)="selectBroker(broker)" [class.btn-primary]="selectedBroker && selectedBroker.uuid === broker.uuid">{{broker.name}}</button>
    </p>
</div>