<div class="page-header">
    <div class="btn-toolbar pull-right">
        <div class="btn-group">
        </div>
    </div>
    <h1>Reset Your Password</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!success">Please check your emails for further instructions.</div>
    <div class="alert alert-danger" role="alert" [hidden]="!error">Error resetting your password. Please try again.</div>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Email Address" class="form-control" [(ngModel)]="model.email" required="required" autofocus="autofocus" />
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting">Submit</button>
</form>