<div class="page-header">
    <div class="btn-toolbar pull-right">
    </div>
    <h1>System Settings</h1>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Setting</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let setting of entities" class="clickable" (click)="showEntity(setting.uuid)">
            <td>{{setting.description}}</td>
            <td>{{setting.value | slice:0:50}}</td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>