<div class="page-header">
    <h1>Verify your data</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <p>
        Are your details still correct?
    </p>
    <div class="form-group" *ngIf="session.user.firstname || session.user.lastname">
        <label>Name</label>
        <p class="form-control-static">{{session.user.firstname}} {{session.user.lastname}}</p>
    </div>
    <div class="form-group" *ngIf="session.user.company">
        <label>Company</label>
        <p class="form-control-static">{{session.user.company}}</p>
    </div>
    <div class="form-group" *ngIf="session.user.email">
        <label>Email Address</label>
        <p class="form-control-static">{{session.user.email}}</p>
    </div>
    <div class="form-group" *ngIf="session.user.country">
        <label>Country</label>
        <p class="form-control-static">{{session.user.country}}</p>
    </div>
    <a class="btn btn-default" routerLink="/profile">Update profile</a>
    <button type="submit" class="btn btn-default btn-primary" [disabled]="!form.valid || submitting">My data is correct</button>
</form>