<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/customer/licensekeys" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
    </div>
    <h1>Generate License Key</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-danger" role="alert" *ngIf="error && errorCode == errorCodes.INVALID_TLD">Invalid top level domain ({{errorText}}).</div>
    <div class="alert alert-danger" role="alert" *ngIf="error && errorCode == errorCodes.TLD_EMPTY">Top level domain not specified ({{errorText}}).</div>
    <div class="alert alert-danger" role="alert" *ngIf="error && errorCode == errorCodes.DOMAIN_EQUALS_TLD">Domain name equals a top level domain ({{errorText}}).</div>
    <div class="alert alert-danger" role="alert" *ngIf="error && errorCode == errorCodes.DOMAIN_EMPTY">Empty domain name(s) specified.</div>
    <div class="form-group">
        <label>Product</label>
        <p class="form-control-static">{{entity.productVariant.product.title}}</p>
    </div>
    <div class="form-group">
        <label>Variant</label>
        <p class="form-control-static">{{entity.productVariant.title}}</p>
    </div>
    <div class="form-group">
        <label>Purchased</label>
        <p class="form-control-static" *ngIf="entity.createDate">{{entity.createDate.format('YYYY-MM-DD')}}</p>
    </div>
    <div class="form-group" *ngFor="let domain of model.domains; index as i">
        <label for="domain-{{i}}">Domain {{i + 1}}</label>
        <input type="text" id="domain-{{i}}" name="domain-{{i}}" placeholder="your-domain-{{i + 1}}.com" class="form-control" [(ngModel)]="model.domains[i].value" required="required" />
    </div>
    <a routerLink="/customer/licensekeys" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Generate</button>
</form>