<div class="page-header">
    <div class="btn-toolbar pull-right">
    </div>
    <h1>License Keys</h1>
</div>
<table class="table table-hover" [hidden]="!entities || !entities.length">
    <thead>
        <tr>
            <th>Product</th>
            <th>Variant</th>
            <th>Purchased</th>
            <th>Issued</th>
            <th>Expires</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let licenseKey of entities" class="clickable" (click)="viewEditKey(licenseKey)">
            <td><span *ngIf="licenseKey.productVariant && licenseKey.productVariant.product">{{licenseKey.productVariant.product.title}}</span></td>
            <td><span *ngIf="licenseKey.productVariant">{{licenseKey.productVariant.title}}</span></td>
            <td>{{licenseKey.createDate.format('YYYY-MM-DD')}}</td>
            <td>
                <span *ngIf="licenseKey.issueDate">{{licenseKey.issueDate.format('YYYY-MM-DD')}}</span>
                <span *ngIf="!licenseKey.issueDate">not issued yet</span>
            </td>
            <td>
                <span class="glyphicon glyphicon-ok" *ngIf="licenseKey.expiryDate && licenseKey.expiresInDays >= 30" style="color:green"></span>
                <span class="glyphicon glyphicon-bell" *ngIf="licenseKey.expiryDate && licenseKey.expiresInDays < 30 && licenseKey.expiresInDays > 0" style="color:orange"></span>
                <span class="glyphicon glyphicon-fire" *ngIf="licenseKey.expiryDate && licenseKey.expiresInDays <= 0" style="color:orangered"></span>
                <span *ngIf="licenseKey.expiryDate">
                    {{licenseKey.expiryDate.format('YYYY-MM-DD')}}
                    <span *ngIf="licenseKey.expiresInDays > 0">(in {{licenseKey.expiresInDays}} days)</span>
                    <span *ngIf="licenseKey.expiresInDays == 0">(today)</span>
                    <span *ngIf="licenseKey.expiresInDays < 0">(expired)</span>
                </span>
                <span *ngIf="!licenseKey.expiryDate">–</span>
            </td>
        </tr>
    </tbody>
</table>
<p [hidden]="!entities ||entities.length">
    No records found.
</p>