<div class="page-header">
    <div class="btn-toolbar pull-right">
        <a routerLink="/customer/tickets" class="btn btn-primary btn-lg" title="Show all"><span class="glyphicon glyphicon-list"></span></a>
    </div>
    <h1>My Support Ticket</h1>
</div>
<form (ngSubmit)="submit()" #form="ngForm">
    <div class="alert alert-success" role="alert" [hidden]="!caseOpenedClosed">Your support case has been saved.</div>
    <div class="form-group">
        <label>Product</label>
        <p class="form-control-static">{{entity.productVariant.product.title}}</p>
    </div>
    <div class="form-group">
        <label>Variant</label>
        <p class="form-control-static">{{entity.productVariant.title}}</p>
    </div>
    <div class="form-group">
        <label>Purchased</label>
        <p class="form-control-static" *ngIf="entity.createDate">{{entity.createDate.format('YYYY-MM-DD')}}</p>
    </div>
    <div class="form-group" *ngIf="entity.status === 1">
        <label for="text">Support Request</label>
        <textarea id="text" name="text" placeholder="Enter your support request here" class="form-control" [(ngModel)]="entity.text" required="required" rows="15"></textarea>
    </div>
    <div class="form-group" *ngIf="entity.status !== 1">
        <label>Support Request</label>
        <p class="form-control-static" style="white-space:pre-wrap">{{entity.text}}</p>
    </div>
    <a routerLink="/customer/tickets" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting" *ngIf="entity.status === 1"><span class="glyphicon glyphicon-ok"></span> Open this case</button>
    <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting" *ngIf="entity.status === 2"><span class="glyphicon glyphicon-ok"></span> Close this case</button>
</form>
<div style="margin-top:50px" *ngIf="entity.status !== 1">
    <h3>Comments</h3>
    <div class="panel panel-default" *ngFor="let comment of comments">
        <div class="panel-heading">
            <span *ngIf="comment.author && comment.author.roleCustomer">You</span>
            <span *ngIf="comment.author && !comment.author.roleCustomer && comment.author.roleAdmin">Support Team</span>
            at {{comment.createDate.format('YYYY-MM-DD HH:mm')}}
        </div>
        <div class="panel-body" style="white-space:pre-wrap">{{comment.text}}</div>
    </div>
    <p *ngIf="!comments.length">
        There are no comments in this case yet.
    </p>
    <form (ngSubmit)="addComment()" #form="ngForm" *ngIf="entity.status !== 3" style="margin-top:25px">
        <div class="alert alert-success" role="alert" [hidden]="!commentAdded">Your comment has been saved.</div>
        <div class="form-group">
            <label for="comment">Comment on this case</label>
            <textarea id="comment" name="comment" placeholder="Enter your comment here" class="form-control" [(ngModel)]="model.text" required="required" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="!form.valid || submitting"><span class="glyphicon glyphicon-ok"></span> Add comment</button>
    </form>
</div>